<%= form_for(@auction, :html => { :class => "form-horizontal" }) do |f|  %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date, {}, {class: 'btn btn-default dropdown-toggle'} %>
  </div>


  <div class="field">
    <%= f.label :category %><br>
    <%= f.select("category",  Category.all, {}, {class: 'btn btn-default dropdown-toggle'}) %>
  </div>


<div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>

  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-default"%>
  </div>
<% end %>
