

<h1>Listing auctions</h1>
<%= render 'dropdown' %>

    <% @auctions.each do |auction| %>
      <div class="row">
        <div class="col-md-8">
          <h2><%= auction.title %></h2> 
          <a href=" <%= auction_path(auction) %>  ">
            <img src=" <%= auction.picture.thumb %> "> <br>
          </a>
          <%= auction.description %>
        </div>
            <div class="col-md-4">
              <h4>Auction ends <%= distance_of_time_in_words(auction.end_date, Time.now) %> from now</h4>
              <h4>Category: <%= auction.category %></h4>
              
              <% if auction.bids.present? %>
                <%= auction.highest_bid.amount %>
              <% else %>
                no bids
              <% end %>
        
              <% if auction.bids.present? %>
                <%= auction.highest_bid.user.email %>
              <% else %>
                no bids!
              <% end %>
            
                         
            </div>
      </div>
    <% end %>



<%= link_to 'New Auction', new_auction_path %>


