

<h1>Listing auctions</h1>
<%= render 'dropdown' %>

    <% @auctions.each do |auction| %>
      <h2><%= auction.title %></h2> 

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8 ">
          <a href=" <%= auction_path(auction) %>  ">
            <img class="gallery_item" src=" <%= auction.picture.thumb %> "> <br>
          </a>
          <%= auction.description %>
        </div>
            <div class="col-xs-6 col-lg-4 auction_listing_info">
              <h4 class="nebay_alert">
                <% unless auction.active? %>
                  Auction has expired
                <% else %>
                 Auction ends <%= distance_of_time_in_words(auction.end_date, Time.now) %> from now
                <% end %>
              </h4>
              <h4>Category: <%= auction.category %></h4>
              
              <h4>Highest bid:
              <% if auction.bids.present? %>
                <%= auction.highest_bid.amount %>
              <% else %>
                Thre are no bids yet
              <% end %>
              </h4>
              <h4>Highest bidder:
              <% if auction.bids.present? %>
                <%= auction.highest_bid.user.email %>
              <% else %>
                No highest bidder yet
              <% end %>
            
                         
            </div>
      </div>
    <% end %>



<%= link_to 'New Auction', new_auction_path %>


