

<h1>Auctions</h1>
<%= render 'dropdown' %>
<br>
<h3> <span class="label label-default notice_bg_color">My Auctions</span></h3>

    <% @auctions.each do |auction| %>
      <h2 class="page-header"><%= auction.title %></h2> 

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8 ">
          <a href=" <%= auction_path(auction) %>  ">
            <img class="gallery_item" src=" <%= auction.picture.thumb %> "> <br>
          </a>
          <%= auction.description %>
        </div>
            <div class="col-xs-6 col-lg-4 auction_listing_info">
              <h4 class="nebay_alert">Auction ends <%= distance_of_time_in_words(auction.end_date, Time.now) %> from now</h4>
              <h4>Category: <%= auction.category %></h4>
              
              <h4>Highest bid:
              <% if auction.bids.present? %>
                <%= auction.highest_bid.amount %>
              <% else %>
                Thre are no bids yet
              <% end %>
              </h4>
              <h4>Highest bidder:
              <% if auction.bids.present? %>
                <%= auction.highest_bid.user.email %>
              <% else %>
                No highest bidder yet
              <% end %>
          </div>
        </div>
    <% end %>



<h3> <span class="label label-default notice_bg_color">My Bids</span></h3>


<% @bids.each do |bid| %>
<h2 class="page-header"><%= bid.auction.title %></h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8 ">
      <a href=" <%= auction_path(bid) %> ">
        <img class="gallery_item" src=" <%= bid.auction.picture.thumb %>"> 

    </div>
  
  </div>
<% end %>
      
<%= link_to 'New Auction', new_auction_path %>



