<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @auction.end_date %>
</p>

<p>
  <strong>Auction by:</strong>
  <%= @auction.user.email %>
</p>
<p>
  <strong>Auction by:</strong>
  <img src="<%= @auction.picture %>"/>
  
</p>
<p>
	<strong>Current bid:</strong>
    <% if @auction.bids.present? %>
    	<span class="bid-highest">
    		<%= @auction.highest_bid.amount %>
    	</span>
    <% else %>
            no bids
    <% end %>
</p>




<% if @auction.finished? %>
  <p>This auction expires <%= distance_of_time_in_words(@auction.end_date, Time.now) %> from now </p>
  <p>
  <%= form_for(Bid.new(auction: @auction) ,  html: {class: "payform"} ) do |f| %>
    <div class="row">
      <div class="col-xs-2">
        <div class="form-group">
          <%= f.number_field :amount, class: "form-control bid-amount", placeholder: "bid amount" %>
          <%= f.hidden_field :auction_id %>
          <%= f.submit "bid now!", class: "btn btn-primary bid-do" %>
        </div>
      </div>
    </div>
  <% end %>
  </p>
<% else %>
  <% if @auction.bids.present? %>
    <% if @auction.highest_bid.user == current_user %>
      <h1>Congratulations, you have won the auction!</h1>
        <%= form_tag charges_path do %>
        <input type="hidden" name="auction_id" value="<%= @auction.id %>" />
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-email="<%= current_user.email %>"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @auction.highest_bid.amount_in_cents %>"></script>        
<% end %>


    <% else %>
      <h1>This auction has expired!</h1>
    <% end %>
  <% else %>
      <h1>This auction has expired without any bids!</h1>
    <% end %>
<% end %>
<br>
<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>

