<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auction.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @auction.description %>
</p>

<p>
  <strong>End date:</strong>
  <%= @auction.end_date %>
</p>

<p>
  <strong>Auction by:</strong>
  <%= @auction.user.email %>
</p>
<p>
	<strong>Current bid:</strong>
    <% if @auction.bids.present? %>
    	<div class="bid-highest">
    		<%= @auction.highest_bid.amount %>
    	</div>
    <% else %>
            no bids
    <% end %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>



<%= form_for(Bid.new(auction: @auction) ,  html: {class: "payform"} ) do |f| %>
<div class="row">
    <div class="col-xs-2" >
      <div class="form-group">
    <%= f.number_field :amount, class: "form-control bid-amount", placeholder: "bid amount" %>
    <%= f.hidden_field :auction_id %>
    <%= f.submit "bid now!", class: "btn btn-primary bid-do" %>
  </div>
  </div>
</div>
<% end %>

